.paginas{
    background-image: url('img/background_2.jpg');
    background-size: 100% 100%;
    padding-bottom: 70px;
}
.bloco1{
    background-image: url('img/background_1.jpg');
    background-size: cover;
    color: #fff;
    padding: 20px;
}
h2, h3, h4, h5 {
    color: #700003;
}

.bloco1 h2{ color: #fff;}
.box-paralax{
    height: 300px;
    background-attachment:fixed;
    margin: 60px 0px;
}
.paralax01{
    background-image: url('img/paralaxe_1.jpg');
}
.paralax02{
    background-image: url('img/paralaxe_2.jpg');
}


.painel_clicavel_bt01, .painel_clicavel_bt02, .painel_clicavel_bt03{
    width: 250px;
    height: 237px;
    position: relative;
    border: none;
    overflow: visible;
    z-index: 2;
    margin: 15px;
}

.painel_clicavel_bt01{background: url('img/btn_1.png') no-repeat; background-size: 100%;}
.painel_clicavel_bt02{background: url('img/btn_2.png') no-repeat; background-size: 100%;}
.painel_clicavel_bt03{background: url('img/btn_3.png') no-repeat; background-size: 100%;}

.painel_clicavel_bt01::before, .painel_clicavel_bt02::before, .painel_clicavel_bt03::before{
    content: '';
    position: absolute;
    top: -22px;
    left: -15px;
    width: 280px;
    height: 280px;
    background: url('img/btn_hover.png') no-repeat center;
    background-size: 100%;
    opacity: 0; 
    transition: opacity 0.4s;
    z-index: -1;
}
.painel_clicavel_bt01:hover::before, .painel_clicavel_bt02:hover::before, .painel_clicavel_bt03:hover::before{
    opacity: 1;
    animation: rotate 5s linear infinite;
}
.painel_clicavel_bt01::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/btn_1.png') no-repeat;
    background-size: 100%;
    opacity: 1; 
    transition: opacity 5s ease-in;
    border-radius: 20px;
    z-index: -1;
}
.painel_clicavel_bt02::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/btn_2.png') no-repeat;
    background-size: 100%;
    opacity: 1; 
    transition: opacity 5s ease-in;
    border-radius: 20px;
    z-index: -1;
}
.painel_clicavel_bt03::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/btn_3.png') no-repeat;
    background-size: 100%;
    opacity: 1; 
    transition: opacity 5s ease-in;
    border-radius: 20px;
    z-index: -1;
}

.img-check{
    position: absolute;
    width: 35px;
    right: -16px;
    margin-top: 30px;
    display: none;
}


.img-pdf-print{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}
/* bts */
.painel_clicavel_bt010,.painel_clicavel_bt011,.painel_clicavel_bt012,.painel_clicavel_bt013,.painel_clicavel_bt014,.painel_clicavel_bt015,.painel_clicavel_bt016,
.painel_clicavel_bt017,.painel_clicavel_bt018{
    max-width: 331px;
    width: 100%;
    height: 79px;
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0px;
    margin: 10px 5px;
    display: inline-block;
    border-radius: 0px !important;
    border-radius: 0px;
}
.painel_clicavel_bt010:hover,.painel_clicavel_bt011:hover,.painel_clicavel_bt012:hover,.painel_clicavel_bt013:hover,.painel_clicavel_bt014:hover,.painel_clicavel_bt015:hover,
.painel_clicavel_bt016:hover,.painel_clicavel_bt017:hover,.painel_clicavel_bt018:hover{
    border-radius: 0px !important;
    background-color: transparent;
    background-size: 100%;
    box-shadow: none;
    background-repeat: no-repeat;
}
.painel_clicavel_bt010, .painel_clicavel_bt010:hover{
    background-image: url('img/painel_clicavel_btn_1.png');
    border-radius: none;
}
.painel_clicavel_bt011, .painel_clicavel_bt011:hover{
    background-image: url('img/painel_clicavel_btn_2.png');
    border-radius: none;
}
.painel_clicavel_bt012, .painel_clicavel_bt012:hover{
    background-image: url('img/painel_clicavel_btn_3.png');
    border-radius: none;
}
.painel_clicavel_bt013, .painel_clicavel_bt013:hover{
    background-image: url('img/painel_clicavel_btn_4.png');
    border-radius: none;
}
.painel_clicavel_bt014, .painel_clicavel_bt014:hover{
    background-image: url('img/painel_clicavel_btn_5.png');
    border-radius: none;
}
.painel_clicavel_bt015, .painel_clicavel_bt015:hover{
    background-image: url('img/painel_clicavel_btn_6.png');
    border-radius: none;
}
.painel_clicavel_bt016, .painel_clicavel_bt016:hover{
    background-image: url('img/painel_clicavel_btn_7.png');
    border-radius: none;
}
.painel_clicavel_bt017, .painel_clicavel_bt017:hover{
    background-image: url('img/painel_clicavel_btn_8.png');
    border-radius: none;
}
.painel_clicavel_bt018, .painel_clicavel_bt018:hover{
    background-image: url('img/painel_clicavel_btn_9.png');
    border-radius: none;
}
.painel_clicavel_bt010:hover,.painel_clicavel_bt012:hover,.painel_clicavel_bt013:hover,
.painel_clicavel_bt010:active,.painel_clicavel_bt012:active,.painel_clicavel_bt013:active,
.painel_clicavel_bt010:focus,.painel_clicavel_bt012:focus,.painel_clicavel_bt013:focus
.painel_clicavel_bt011:hover,.painel_clicavel_bt014:hover,.painel_clicavel_bt015:hover,
.painel_clicavel_bt011:active,.painel_clicavel_bt014:active,.painel_clicavel_bt015:active,
.painel_clicavel_bt011:focus,.painel_clicavel_bt014:focus,.painel_clicavel_bt015:focus
.painel_clicavel_bt016:hover,.painel_clicavel_bt017:hover,.painel_clicavel_bt018:hover,
.painel_clicavel_bt016:active,.painel_clicavel_bt017:active,.painel_clicavel_bt018:active,
.painel_clicavel_bt016:focus,.painel_clicavel_bt017:focus,.painel_clicavel_bt018:focus{
    border-radius: 0px !important;
    background-color: transparent;
    box-shadow: none;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}