.espera-video{border: 2px solid;}

h2, h3, h4, h5 {
    color: #700003;
}
.paginas{
    background-image: url('img/background_2.jpg');
    background-size: 100% 100%;
}

.bloco1{
    background-image: url('../img/bg_01.jpg');
    background-size: 100% 100%;
    padding-top: 60px;
    padding-bottom: 50px;
}
.bloco2{
    background-image: url('../img/imglateral_01.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right 62vw center;
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
}
.float-img1, .float-img2{
    position: absolute;
    right: 0;
}
.float-img1{
    top: 400px;
    width: 14%;
}
.float-img2{
    top: 2562px;
    width: 11%;
}
.bloco3{
    position: relative;
}
.bloco5{
    background-color: rgba(255, 119, 0, 0.3);
    padding-top: 60px;
    padding-bottom: 50px;
}
.bloco6{
    background-image: url('../img/encerramento.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 50px;
}
.float-left{
    position: absolute;
    width: 387px;
    top: 1302px;
    left: -380px;
    z-index: 100;
}
.citacao2{
    font-size: 0.8em;
}
.carousel-control-next, .carousel-control-prev{ background-color: transparent !important;}
@media (max-width: 1300px){
    .bloco1, .bloco6{
    background-color: rgba(255, 119, 0, 0.3);
    background-image: none;}
    .bloco5{margin-bottom: 0px;padding-bottom: 1px;}
    .bloco6{padding-top: 0px;}
    .bloco3 {
        background-image: url(../img/bg.jpg);
    }
    .bloco3 {
        margin-top: -50px;
        padding-top: 30px;
        background-size: auto 100%;
    background-repeat: no-repeat;
    }
    .bloco1 > .container, .bloco2 > .container, .bloco6 > .container{
        /* background-color: #fff; */
        padding: 20px;
    }
}
@media (min-width: 990px){
    .box-text{
        margin-bottom: 25px;
    }
}