.espera-video{border: 2px solid;}

.paginas{
    background-image: url('../img/bg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 150px;
}
.bt1, .bt2, .bt3{
    width: 275px;
    height: 354px;
    background-color: transparent;
    border: none;
    z-index: 1;
    position: relative;
    margin-left: 20px;
}
.bt1:hover, .bt2:hover, .bt3:hover{
    background-color: unset;
}
.img-hover{
    
    max-width: 275px;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    position: absolute;
}
.bt1::before, .bt2::before, .bt3::before{
    content: '';
    display: block;
    position: absolute;
    top: 56px;
    left: 18px;
    width: 164px;
    height: 164px;
    background-image: url('../img/hover.png');
    z-index: -2;
    transition: all 0.3s;
}
.bt1:hover::before,.bt2:hover::before,.bt3:hover::before{
    transform: rotate(90deg);
}
.citacao p{
    font-size: .80em;
}
.float-img{
    position: fixed;
    top: 300px;
    right: 20px;
    width: 300px;
    z-index: 1000;
}
.bg-float2{
    width: 300px;
    max-width: 40%;
    float: right;
}
.bg-float3{
   width: 300px;
   max-width: 100%;
    margin: 0 auto;
}
@media (max-width: 1650px){
    .float-img{
        width: 200px;
    }
}
@media (max-width: 1460px){
    .float-img{
        width: 150px;
        right: 5px;
    }

}
@media (max-width: 1200px){
    .float-img{
        display: none;
    }
}