
h2, h3, h4, h5 {
    color: #700003;
}
.paginas{
    background-image: url('img/bg.jpg');
    background-size: 100% 100%;
}
.container{
    padding-top: 50px;
    position: relative;
}
.header-img{
    max-width: 110%;
}
h2.titulo_img_header{margin-left: 0;}
.box-paralax{
    height: 300px;
    background-attachment:fixed;
}
.paralax00{
    height: 435px;
    background-image: url('img/header.png');
}
.paralax01{
    background-image: url('img/paralaxe_1.jpg');
}
.paralax02{
    background-image: url('img/paralaxe_2.jpg');
}
.paralax03{
    background-image: url('img/paralaxe_3.jpg');
}
.paralax04{
    background-image: url('img/paralaxe_4.jpg');
}
.paralax05{
    background-image: url('img/paralaxe_5.jpg');
}
/* .titulo-ativ{margin-left: 0;} */
.float-left{
    position: absolute;
    top: 6000px;
    left: 0;
    width: 300px;
    z-index: 100;
    max-width: 17%;
}
.float-left2{
    position: absolute;
    bottom: 150px;
    left: 0;
    width: 200px;
    z-index: 100;
}

.painel_clicavel_bt01,.painel_clicavel_bt02,.painel_clicavel_bt03,.painel_clicavel_bt04,.painel_clicavel_bt05{
    width: 300px;
    height: 91px;
    background-size: 100%;
    background-color: transparent;
    border: 0px;
    margin: 10px auto;
    display: block;
    border-radius: 0px;
}
.painel_clicavel_bt01:hover,.painel_clicavel_bt02:hover,.painel_clicavel_bt03:hover,.painel_clicavel_bt04:hover,.painel_clicavel_bt05:hover,
.painel_clicavel_bt01:active,.painel_clicavel_bt02:active,.painel_clicavel_bt03:active,.painel_clicavel_bt04:active,.painel_clicavel_bt05:active,
.painel_clicavel_bt01:focus,.painel_clicavel_bt02:focus,.painel_clicavel_bt03:focus,.painel_clicavel_bt04:focus,.painel_clicavel_bt05:focus{
    border-radius: 0px !important;
    background-color: transparent;
    background-size: cover;
    box-shadow: none;
}
.painel_clicavel_bt01, .painel_clicavel_bt01:hover{
    background-image: url('img/painel_btn_1.png');
    border-radius: none;
}
.painel_clicavel_bt02, .painel_clicavel_bt02:hover{
    background-image: url('img/painel_btn_2.png');
    border-radius: none
}
.painel_clicavel_bt03, .painel_clicavel_bt03:hover{
    background-image: url('img/painel_btn_3.png');
    border-radius: none
}
.painel_clicavel_bt04, .painel_clicavel_bt04:hover{
    background-image: url('img/painel_btn_4.png');
    border-radius: none
}
.painel_clicavel_bt05, .painel_clicavel_bt05:hover{
    background-image: url('img/painel_btn_5.png');
    border-radius: none
}
.img-painel-clicavel{
    max-width: 90%;
    width: 550px;
}
.box-painel-clicavel .hvr-grow-shadow:active, .box-painel-clicavel .hvr-grow-shadow:focus, .box-painel-clicavel .hvr-grow-shadow:hover {
    box-shadow: none;
}
@media screen and (max-width: 1400px){
    .float-left2{ width: 150px;}
}
@media screen and (max-width: 1200px){
    .float-left2{ width: 100px;}
}
@media screen and (max-width: 1120px){
    .float-left2{ width: 50px;}
}
@media screen and (max-width: 1040px){
    .float-left2{ display: none;}
}